<h1>Create new User</h1>

<%= form_tag '/users', method: :post do %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div>
    <%= submit_tag "submit" %>
  </div>
<% end %>